{% load static %}
<section class="section sec5 contact" id="contact">
            <div class="contact-container">
                <div class="main-title">
                    <h2>Contact <span>Me</span></h2>
                </div>
                <div class="contact-content-con">
                    <div class="left-contact">
                        <p>
                           If you have any question contact me by bellow social medias or send me a email:
                        </p>
                        <div class="contact-icons">
                            <div class="contact-icon">
                                <a href="https://www.facebook.com/tomek.relski/" target="_blank">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="https://www.linkedin.com/in/tomasz-relski-305355114/" target="_blank">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                                <a href="mailto: tomekrelski@gmail.com" target="_blank">
                                    <i class="fas fa-envelope"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    
</section>